.category-list {
    margin-top: -40px;
    position: relative;

    &:before {
        content: "";
        display: block;
        background-color: $megawhite;
        position: absolute;
        height: 40px;
        width: 50%;
        left: 0;
        top: 0;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
        background-color: $megawhite;
        border-radius: 0 4px 0 0;
        padding: 40px 25px;
    }

    &__item {
        display: block;
        position: relative;
        text-decoration: none;
        color: $megawhite;
        overflow: hidden;

        &:hover {
            color: $megawhite;

            &:before {
                opacity: 0;
            }

            .category-list__item--title {
                opacity: 0;
            }

            .category-list__item--btn {
                width: auto;
                background-color: $ultra-blue;

                &::after {
                    background-color: $ultra-blue;
                    border-radius: 0;
                }

                span {
                    right: 40px;
                    background-color: $ultra-blue;
                }
            }
        }

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background-color: rgba(37, 65, 101, .5);
            transition: opacity .3s;
        }

        &--title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            margin-bottom: 0;
            z-index: 2;
            opacity: 1;
            font-size: 20px;
            line-height: 36px;
            font-family: $exo2;
            font-weight: 600;
            transition: opacity .3s;
        }
        &--btn {
            position: absolute;
            bottom: 0;
            background-color: $blue;
            right: 0;
            border-radius: 4px 0 4px 0;
            margin-bottom: 0;
            z-index: 2;
            height: 40px;
            width: 40px;
            transition: width .3s ease-in;

            &::after {
                content: "";
                display: inline-block;
                background: url("img/arrow-right-white.png") no-repeat $blue center;
                height: 40px;
                width: 40px;
                position: absolute;
                z-index: 1;
                bottom: 0;
                right: 0;
                transition: background .3s;
                border-radius: 4px 0 0 0;
            }

            span {
                display: inline-block;
                overflow: hidden;
                color: $megawhite;
                text-transform: uppercase;
                font-family: $rawline;
                font-weight: bold;
                padding-left: 20px;
                font-size: 12px;
                line-height: 40px;
                border-radius: 4px 0 0 0;
                background-color: $blue;
                position: relative;
                z-index: 1;
                bottom: 0;
                right: -100%;
                transition: right .3s, background .3s;
            }
        }

        img {
            width: 100%;
            border-radius: 4px;
        }
    }

    &__info {
        border: 1px solid $gray;
        height: calc(100% - 36px);
        text-align: center;
        font-family: $ptsans;
        font-weight: normal;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 20px;
        padding: 0 30px;


        &--title {
            font-family: $exo2;
            font-weight: 600;
            font-size: 20px;
            line-height: 36px;
            color: $blue;
            margin-bottom: 20px;
            margin-bottom: 4px;
            font-size: 20px;
            font-family: $exo2;
            font-weight: 600;
            line-height: 36px;
        }

        strong {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1;
        }
    }

    &__item, &__info {
        margin-bottom: 20px;
        border-radius: 4px;
        margin-bottom: 36px;
    }
}