.content {
    margin-top: 1px;
    padding-top: 64px;
    border-top: 1px solid $gray;

    &__inner {
        display: flex;

        @include lg {
            flex-wrap: wrap;
        }
    }

    &__text-col {
        padding-left: 40FFpx;
        padding-right: 70px;

        @include lg {
            padding-left: 0;
            padding-right: 0;
        }

        .btn {
            margin-top: 7px;
            color: white;
        }

        h2 {
            margin-bottom: 25px;
        }
    }

    &__img-col {
        padding-top: 23px;
        img {
            max-width: 100%;
        }
    }
}