.product-list {
    margin-top: -40px;
    position: relative;
    z-index: 2;

    &__inner {
        display: flex;
        background-color: $megawhite;
        padding: 40px 20px 0 20px;
        border-radius: 0 4px 0 0;

        @include lg {
            flex-wrap: wrap;
        }
    }

    &__item {
        position: relative;
        padding: 0 20px;

        @include lg {
            padding: 30px 20px;
        }

        img {
            max-width: 100%;
            border-radius: 0 4px 4px 0;
            min-height: 160px;
            object-fit: cover;

            @include lg {
                width: 100%;
            }
        }
    }

    &__badge {
        position: absolute;
        background-color: $megablack;
        color: $megawhite;
        right: 20px;
        text-transform: uppercase;
        border-radius: 0 4px 0 4px;
        font-size: 10px;
        font-weight: bold;
        padding: 6px 11px;
        letter-spacing: .8px;
        font-family: $raleway;
    }

    &__link {
        &:hover {
            color: $ultra-blue;

            .product-list__title {
                color: $ultra-blue;
            }
        }
    }

    &__title {
        font-size: 16px;
        font-family: $exo2;
        font-weight: 600;
        color: $blue;
        padding-top: 14px;
        margin-bottom: 1px;
        transition: color .3s;
    }

    &__info {
        color: $gray-blue;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        font-family: $ptsans;
        margin-bottom: 13px;
        letter-spacing: .3px;
    }

    &__price {
        font-family: $rawline;
        border: 1px solid $gray;
        border-radius: 0 0 4px 4px;
        color: $ultra-blue;
        padding: 8px 9px 10px;
        letter-spacing: .5px;
        margin-bottom: 16px;
        border-top: none;
    }

    .btn__minicart {
        display: inline-block;
        padding: 6px 15px;
    }

    .dropdown-toggle {
        width: 100%;
        text-align: left;
        padding-top: 8px;
        padding-left: 8px;
        border-radius: 4px 4px 0 0;
        transition: border-color .3s;
        text-transform: unset;
        @include font (16px, 20px, normal, $ptsans, $font-gray);

        &:hover {
            background-color: $megawhite;
            border-color: $gray3;
        }

        &::after {
            margin-top: 10px;
            position: absolute;
            right: 14px;
            top: 8px;
        }
    }

    .dropdown-menu {
        width: 100%;
    }
}