@mixin font($font-size, $line-height, $font-weight, $font-family, $color) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    font-family: $font-family;
    color: $color;
}

@mixin font-size($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin xl {
    @media (max-width: $xl) {
        @content;
    }
}
@mixin lg {
    @media (max-width: $large) {
        @content;
    }
}
@mixin md {
    @media (max-width: $medium) {
        @content;
    }
}
@mixin sm {
    @media (max-width: $small) {
        @content;
    }
}