//Colors
$gray-blue: #6B7E96;
$ultra-blue: #01A1F2;
$blue: #254165;
$blue2: #617EA4;
$blue3: #2C4D78;
$blue4: #0EAEFE;
$blue5: #375B8A;
$blue6: #37BCFF;
$blue7: #0187CB;
$blue8: #677C96;
$dark-blue: #132A47;
$dark-blue2: #1E2228;
$gray: #D4DBE3;
$gray2: #C4CCD1;
$gray3: #A7B4C4;
$gray4: #989EA4;
$gray5: #3F4953;
$lightgray: #E8ECF1;
$font-gray: #4A5767;
$black: #12151A;
$white: #FCFCFC;
$megawhite: #FFF;
$megablack: #000;
$green: #74D18A;


//Fonts
$ptsans: "PT Sans", sans-serif;
$raleway: "Raleway", sans-serif;
$exo2: "Exo 2", sans-serif;
$rawline: "Raleway", sans-serif;

//Screen size
$small: 400px;
$medium: 768px;
$large: 992px;
$xl: 1220px;
$xxl: 1340px;