.breadcrumb-section {
    background-color: $lightgray;
    margin-top: -60px;
    padding-top: 58px;
    padding-bottom: 65px;

    @include lg {
        margin-top: -15px;
    }

    a, button, .active {
        @include font(12px, 24px, bold, $raleway, $blue);
        text-transform: uppercase;
    }

    a:hover {
        color: $blue;
        text-decoration: underline;
    }

    .breadcrumb {
        padding-left: 0;
        margin-bottom: 0;
    }

    .breadcrumb-item {
        padding-top: 3px;

        & + .breadcrumb-item::before {
            content: "";
            width: 5px;
            height: 8px;
            background-image: url("img/arrow-back.png");
            transform: rotate(180deg);
            display: inline-block;
            background-repeat: no-repeat;
            margin-right: 14px;
            margin-top: 9px;
        }
    }
}

.breadcrumb-login {
    padding-top: 43px;
    padding-bottom: 54px;
}