.btn {
    text-transform: uppercase;
    border: 1px solid $gray;
    border-radius: 4px;
    color: $black;
    min-height: 40px;
    transition: background-color .3s;
    @include font-size(12px, 24px, bold);

    &:focus {
        box-shadow: none;
    }

    &--border {
        border: 1px solid $gray;
        transition: background .3s, border-color .3s ;

        &:hover {
            border-color: $lightgray;
            background-color: $lightgray;
        }
    }

    &--blue {
        color: $megawhite;
        background: linear-gradient($blue3, $blue);
        transition: opacity .3s;
        box-shadow: 0px 1px 2px rgba(18,21,26,.4);
        border: none;
        padding: 8px 16px;
        transition: background .3s;

        &:hover {
            color: $megawhite;
            background: linear-gradient($blue5, $blue);
        }
    }

    &--white {
        background-color: $megawhite;
        border: none;
    }

    &--arrow {
        &:after {
            content: "";
            display: inline-block;
            height: 6px;
            width: 8px;
            background-image: url("img/arr.png");
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    &--arrow-back {
        border: none;
        position: relative;
        min-width: unset;

        &:after {
            content: "";
            display: inline-block;
            height: 10px;
            width: 10px;
            background-image: url("img/arr.png");
            position: absolute;
            top: 14px;
            background-repeat: no-repeat;
            right: -6px;
            transform: rotate(-90deg);
        }

        &:hover {
            background-color: $megawhite;
            text-decoration: underline;
        }
    }

    &__minicart {
        display: block;
        margin-bottom: 16px;
        border: none;
        color: $megawhite;
        box-shadow: 0px 1px 2px 1px rgba(18,21,26,.4);
        padding-top: 8px;

        &--blue {
            background: linear-gradient($blue4, $ultra-blue);
            &:hover {
                color: $megawhite;
            }
        }
        &--darkblue {
            background: linear-gradient($blue3, $blue);
            &:hover {
                color: $megawhite;
            }
        }
    }

    &--arrow {
        background: linear-gradient($blue4, $ultra-blue);
        color: $megawhite;
        box-shadow: 0px 1px 2px 1px rgba(18,21,26,.4);
        min-height: 60px;
        font-size: 16px;
        padding-top: 17px;
        padding-left: 0px;
        padding: 17px 27px;
        border: none;

        &:hover {
            color: $megawhite;
        }

        &:after {
            display: none;
        }
        img {
            margin-left: 20px;
        }
    }

    &--social {
        padding: 5px 10px;
    }

    &--back {
        min-height: 36px;
        border-color: $gray;
        padding-top: 0;
        margin-right: 27px;
        padding-top: 3px;

        &::before {
            content: "";
            display: inline-block;
            background-image: url("img/arrow-back.png");
            height: 8px;
            width: 6px;
            margin-right: 17px;
        }
    }
}

.btn-remove {
    margin-top: 16px;
    height: 32px;
    width: 32px;
    padding: 0;
    min-height: 32px;
    img {
        position: relative;
        top: -2px;
    }
}