.contact-info {
    background-color: $blue;
    display: flex;
    min-height: 64px;
    border-radius: 0 0 4px 0;

    &--text {
        color: $ultra-blue;
        padding: 11px 33px 5px 16px;
    }

    &--number {
        color: $megawhite;
        line-height: 20px;
        font-size: 20px;
        @include font(20px, 20px, normal, $exo2, $megawhite);
    }

    &--number-title {
        padding-left: 2px;
        color: $ultra-blue;
        font-weight: bold;
        @include font(14px, 20px, bold, $raleway, $ultra-blue);
    }

    &--icon {
        padding-top: 18px;
        padding-left: 35px;
    }

    p {
        margin-bottom: 0;
    }
}