.opening-hours {
    display: flex;
    align-items: flex-start;
    margin-left: 48px;
    padding-top: 44px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: $blue;

    &__text {
        padding-top: 2px;
    }

    img {
        margin-top: 6px;
        margin-right: 17px;
    }

    strong {
        display: inline-block;
        margin-left: 2px;
        @include font(13px, 13px, 600, $exo2, $ultra-blue);
        margin-left: 4px;
    }
}