body, html {
    font-family: $raleway;
    -webkit-font-feature-settings: "lnum";
       -moz-font-feature-settings: "lnum";
            font-feature-settings: "lnum";
}

h1, h2, h3 {
    font-family: "Exo 2", sans-serif;
}

h1, h2 {
    margin-bottom: 15px;
    @include font-size(32px, 36px, 600);
}

h2 {
    color: $blue;
    margin-top: 0;
    margin-bottom: 22px;
}

h3 {
    font-family: $exo2;
    margin-bottom: 19px;
    @include font-size(26px, 36px, 600);
}

.pretitle {
    background-color: rgba(18,21,26,.5);
    display: inline-block;
    text-transform: uppercase;
    padding: 6px 11px 7px 12px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Raleway",sans-serif;
    border-radius: 4px;
    letter-spacing: .6px;
    color: $megawhite;
    margin-bottom: 13px;

    & + h1 {
        margin-bottom: 17px;
    }
}

p, ul li {
    font-size: 16px;
    font-family: $ptsans;
    line-height: 20px;
    color: $font-gray;
    margin-bottom: 20px;

    strong {
        text-transform: uppercase;
        font-weight: bold;
        color: $black;
        font-size: 14px;
        letter-spacing: 1.4px;
    }

    .paragraph-link {
        color: $blue7;

        &:hover {
            color: $blue7;
        }
    }
}

a {
    text-decoration: none;
}

.hightlight {
    @include font(17px, 22px, bold, $ptsans, $black);
    margin-top: 26px;
    margin-bottom: 24px;
    padding-bottom: 21px;
    border-bottom: 1px solid $gray;
}

.content-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.bold {
    @include font(17px, 22px, bold, $ptsans, $black);
}

ul li {
    margin-bottom: 0;
}