.cart {
    &__qty-value {
        @include font(16px, 20px, normal, $ptsans, $font-gray);
        display: block;
        padding-top: 38px;

        @include lg {
            padding-top: 4px;
        }
    }

    &__table {
        border: 1px solid $gray;
        border-radius: 4px;
        position: relative;
        margin-top: 26px;
        padding: 0 40px 20px;
    }

    &__title {
        background-color: $megawhite;
        position: absolute;
        text-transform: uppercase;
        @include font(11px, 11px, bold, $ptsans, $gray-blue);
        padding: 0 5px;
        top: -5px;
        left: 35px;
    }

    &__heading {
        @include font(11px, 11px, bold, $ptsans, $gray2);
        text-transform: uppercase;
        padding: 24px 0 19px;
    }

    &__action-col {
        min-width: 74px;

        @include lg {
            min-width: 40px;
            order: 5;
        }
    }

    &__total-col {
        text-align: right;
        min-width: 114px;

        @include lg {
            order: 3;
            min-width: unset;
        }
    }

    &__qty-col {
        text-align: right;
        min-width: 115px;
        @include lg {
            order: 4;
            text-align: right;
        }
    }

    &__price-col {
        text-align: right;
        min-width: 168px;

        @include lg {
            min-width: unset;
            text-align: left;
            margin-right: 30px;
        }
    }

    &__table-row {
        display: flex;
        border-bottom: 1px solid $gray;

        @include lg {
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 30px 0;
        }
    }

    &__headings {
        border-bottom: 1px solid $gray2;

        @include lg {
            display: none;
        }
    }

    &__product-col {
        flex-grow: 2;

        @include lg {
            flex-grow: unset;
            width: 100%;
        }
    }

    &__product-link {
        padding: 15px 0 17px;
        align-items: center;
        display: flex;

        &:hover {
            color: $ultra-blue;

            span {
                color: $ultra-blue;
            }
        }

        img {
            max-width: 97px;
            margin-right: 36px;

            @include lg {
            }
        }

        span {
            @include font(16px, 16px, 600, $exo2, $blue);
        }
    }

    &__total, &__price {
        display: block;
        padding-top: 38px;
        @include font(16px, 20px, normal, $ptsans, $blue);

        @include lg {
            padding-top: 5px;
        }
    }

    &__total {
        font-weight: bold;
        color: $font-gray;
    }

    &__price-prefix {
        display: none;

        @include lg {
            display: block;
        }

        @include md {
            font-size: 10px;
        }
    }

    &__qty-col {
        min-width: 169px;

        @include lg {
            min-width: unset;
        }

        @include md {
            position: relative;
            left: -10px;
        }

        .btn {
            width: 40px;
            margin: 0;
            font-size: 20px;

            &:first-child {
                border-radius: 4px 0 0 4px;
                position: relative;
                right: -10px;
            }
            &:last-child {
                border-radius: 0 4px 4px 0;
            }
        }

        .form-control {
            margin: 0;
            border-radius: 0;
            text-align: center;
            width: 51px;
            border-color: $gray;
            box-shadow: none;
            height: 40px;
            display: inline-block;
            position: relative;
            top: 2px;
            right: -5px;
        }

        .form-group {
            margin-top: 27px;

            @include lg {
                margin-top: 7px;
            }
        }
    }
    &__submit-btn {
        padding: 40px 42px 20px;

        .btn {
            min-width: 177px;
        }
    }

    &__total-row {
        border-top: 1px solid $gray;
        margin-top: 20px;
        padding-top: 20px;
        margin-top: 60px;
        padding-top: 38px;
        display: flex;
        justify-content: space-between;

        p {
            color: $blue;
        }

        span {
            @include font(24px, 24px, bold, $rawline, $ultra-blue);
            display: block;
            margin-top: -7px;

            @include md {
                margin-top: 0;
            }
        }
    }

    .btn-remove {
        margin-top: 32px;

        @include lg {
            margin-top: 11px;
        }

        img {
            top: 0;
        }
    }
}