.category-page {
    position: relative;

    &::before {
        content: "";
        background-color: $megawhite;
        display: block;
        width: 50%;
        height: 43px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__content {
        padding-left: 30px;
        padding-top: 4px;
        padding-right: 30px;
    }

    & + .cta {
        margin-top: 63px;
    }

    .row {
        background-color: $megawhite;
        margin-top: -42px;
        border-radius: 0 4px 0 0;
        z-index: 2;
        padding-top: 41px;
    }

    .container {
        z-index: 2;
        position: relative;

        @media (min-width: 1200px) {
            max-width: 1172px;
        }
    }

    .product-list {
        margin-top: 0;

        &__inner {
            padding-left: 0;
            padding-right: 0;
            padding-top: 13px;
            padding-right: 6px;
            justify-content: space-between;
            flex-wrap: wrap;

            &:after {
                content: "";
                flex-wrap: auto;
                width: 245px;

                @include xl {
                    width: 32%;
                }

                @include lg {
                    display: none;
                }
            }
        }

        &__item {
            padding: 0 0;
            width: 245px;
            margin-bottom: 33px;

            @include xl {
                width: 32%;
            }

            @include lg {
                width: 49%;
            }

            @include md {
                width: 100%;
            }
        }

        &__item-info {
            padding: 14px 20px;

            @include lg {
                padding: 14px 20px 30px;
            }
        }

        &__badge {
            right: 0;
        }

        &__link {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: $ultra-blue;
            }
        }
    }

    .page-heading {
        @include lg {
            margin-top: 50px;
        }
    }
}