.contact {
    &__map {
        height: 360px;
        width: 100%;
        border-radius: 4px;
    }

    &__info-row {
        display: flex;
        justify-content: space-between;
        margin-top: 36px;

        @include lg {
            flex-wrap: wrap;
        }
    }

    &__info {
        width: 48%;
        border-radius: 4px;
        border: 1px solid $gray;
        padding: 23px 29px 10px;

        @include lg {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__info-title {
        @include font(17px, 22px, bold, $ptsans, $black);
        margin-bottom: 20px;

        img {
            margin-right: 10px;
        }
    }
}