.beak {
    &:before {
        content: "";
        width: 13px;
        height: 13px;
        background-color: $megawhite;
        border-top: 1px solid $gray;
        border-left: 1px solid $gray;
        transform: rotate(45deg);
        display: block;
        position: absolute;
        top: -7px;
    }
}