.header {
    &__cart {
        padding-top: 41px;
        margin-right: 23px;

        @include lg {
            padding-top: 16px;
        }

        @include md {
            margin-right: 0;
        }

        .dropdown-toggle {
            position: relative;
            padding: 8px 9px 6px 8px;
        }
        .dropdown {
            position: static;
        }
        .btn {
            &:after {
                display: none;
            }
        }
    }

    &__cart-count {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: #01A1F2;
        color: $megawhite;
        font-size: 11px;
        line-height: 15px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid $megawhite;
        font-family: $ptsans;
    }

    &__minicart {
        width: 394px;
        right: 16px !important;
        top: 91px !important;
        left: unset !important;
        padding: 22px 19px 0 26px;
        transform: none !important;

        @include lg {
            top: 64px !important;
            left: unset  !important;
            max-width: calc(100vw - 20px);
        }

        &:before {
            right: 153px;

            @include lg {
                right: 35px;
            }

            @include md {
                right: 13px;
            }
        }

        &--items {
            margin-bottom: 10px;
            padding: 0;

            li {
                display: flex;
                align-items: flex-start;
                list-style: none;
                padding-bottom: 19px;

                &:last-child {
                    padding-bottom: 0;
                }

                > img {
                    width: 98px;
                    border-radius: 4px;
                }
            }
        }
        &--item-text {
            font-size: 16px;
            color: $blue;
            font-weight: 600;
            padding-top: 14px;
            padding-left: 25px;
            letter-spacing: .6px;
            flex-grow: 2;
        }

        &--item-price {
            font-size: 14px;
            color: $font-gray;
            font-weight: normal;
            line-height: 17px;
            display: block;
        }

        &--total {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            border-bottom: 1px solid $gray;
            padding-bottom: 12px;
            margin-bottom: 16px;

            strong {
                color: $ultra-blue;
                font-family: $rawline;
                @include font(16px, 16px, bold, $rawline, $ultra-blue);
            }

            span {
                @include font(16px, 16px, normal, $exo2, $blue);
            }
        }

        &--info {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            padding-top: 9px;

            li {
                list-style: none;
                width: 50%;
                font-size: 11px;
                font-weight: bold;
                color: $blue;
                text-transform: uppercase;
                margin-bottom: 13px;

                @include md {
                    font-size: 9px;
                }

                img {
                    margin-right: 7px;
                }
            }
        }
    }
}