.header {
    &__cart {
        padding-top: 41px;
        margin-right: 23px;

        @include md {
            margin-right: 0;
        }

        .dropdown-toggle {
            position: relative;
            padding: 5px 9px 9px 8px;
        }
        .dropdown {
            position: static;
        }
        .btn {
            &:after {
                display: none;
            }
        }
    }
    &__cart-count {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: $ultra-blue;
        color: $white;
        font-size: 10px;
        line-height: 12px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid white;
    }
    &__minicart {
        max-width: 394px;
        right: 16px !important;
        top: 91px !important;
        left: unset !important;
        padding: 22px 19px 0 26px;
        transform: none !important;

        @include md {
            left: unset  !important;
            right: 20px  !important;
            width: calc(100vw - 40px);
        }

        &:before {
            right: 153px;

            @include md {
                right: 8px;
            }
        }

        &--items {
            margin-bottom: 10px;
            padding: 0;

            li {
                display: flex;
                align-items: flex-start;
                list-style: none;
                padding-bottom: 19px;

                &:last-child {
                    padding-bottom: 0;
                }

                > img {
                    width: 98px;
                    border-radius: 4px;
                }
            }
        }
        &--item-text {
            font-size: 16px;
            color: $blue;
            font-weight: semi-bold;
            padding-top: 12px;
            padding-left: 24px;
            flex-grow: 2;
        }
        &--item-price {
            font-size: 14px;
            color: $gray;
            font-weight: normal;
            line-height: 17px;
            display: block;
        }
        &--total {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            border-bottom: 1px solid $gray;
            padding-bottom: 7px;
            strong {
                color: $ultra-blue;
                font-family: $rawline;
            }
        }
        &--info {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            padding-top: 9px;

            li {
                list-style: none;
                width: 50%;
                font-size: 11px;
                font-weight: bold;
                color: $blue;
                text-transform: uppercase;
                margin-bottom: 13px;

                @include md {
                    font-size: 9px;
                }

                img {
                    margin-right: 7px;
                }
            }
        }
        .btn-remove {
            margin-top: 16px;
            height: 32px;
            width: 32px;
            padding: 0;
            min-height: 32px;
            img {
                position: relative;
                top: -2px;
            }
        }
    }
}