.header {
    &__lang {
        margin-left: 17px;
        padding-top: 47px;

        @include lg {
            display: none;
        }

        .beak {
            &::before {
                right: 39px;
            }
        }

        .dropdown-menu {
            padding: 14px 0 16px;
            left: auto !important;
            min-width: unset;
            right: -4px !important;
            top: 22px  !important;
        }

        .dropdown-item {
            padding: 5px 24px 5px 23px;

            @include font(12px, 18px, bold, $raleway, $blue);
            letter-spacing: .6px;
            transition: color .3s;

            &:hover {
                background-color: $megawhite;
                color: $blue2;
            }
        }
    }

    &__lang-btn {
        padding-right: 20px;

        &::after {
            content: "";
            display: inline-block;
            height: 6px;
            width: 9px;
            background-image: url("img/arr.png");
            position: absolute;
            top: 11px;
            right: 0px;
            border: none;
        }
    }
}
