.header {
    &__login {
        padding-top: 41px;
        margin-right: 8px;


        @include lg {
            flex-grow: 2;
            display: none;
        }

        @include md {
            display: none;
        }
    }
}