.header {
    &__navigation {
        position: relative;
        top: -31px;

        @include lg {
            top: -75px;
        }

        &:before {
            content: "";
            display: block;
            width: 50%;
            height: 35px;
            right: 0;
            top: 0;
            position: absolute;
            background-color: $blue;

            @include lg {
                display: none;
            }
        }

        .navbar-collapse.show {
            @include lg {
                position: absolute;
                height: 100vh;
                width: 100vw;
                top: 0;
                left: 0;
                z-index: 7;
                transition: none;
                background-color: rgba($color: $megablack, $alpha: .6);
            }

            .navbar-nav {
                @include lg {
                    width: 343px;
                    background-color: $megawhite;
                    margin-top: -7px;
                }
            }

            .navbar-mobile-title {
                @include font(28px, 32px, bold, $exo2, $black);
                padding: 41px 15px 19px;
                width: 343px;
                background-color: $megawhite;
                max-height: 100vh;
                overflow-y: auto;
            }
        }

        .collapsing {
            @include md {
                position: absolute;
                top: 100px;
                left: -100%;
                background-color: $megawhite;
            }
        }

        .navbar {
            background-color: $black;
            padding: 0 0 0 24px;
            border-radius: 4px;

            @include lg {
                padding: 10px 0 10px 24px;
                background-color: transparent;
                width: 65px;
                position: static;
            }

            .nav-item {
                &:last-child {
                    .nav-link {
                        @include lg {
                            border-bottom: 1px solid $gray;
                        }
                    }
                }
            }

            .navbar-toggler {
                background-color: $megawhite;
                width: 15px;
                height: 15px;
                padding: 0;
                z-index: 8;
                position: absolute;
                top: 45px;
                left: 312px;
                border: none;

                &.collapsed {
                    background-color: $megablack;
                    width: 40px;
                    height: 40px;
                    left: 10px;
                    top: 35px;

                    @include lg {
                        left: calc(50vw - 360px);
                    }

                    /*@include md {
                        left: calc(50vw - 270px);
                    }*/

                    @media (max-width: 769px) {
                        left: calc(50vw - 270px);
                    }

                    @media (max-width: 575px) {
                        left: 10px;
                    }

                    .navbar-toggler-icon {
                        background-image: url("img/menu.png");
                        width: 20px;
                        height: 14px;
                    }
                }

                .navbar-toggler-icon {
                    background-image: url("img/close.png");
                    width: 100%;
                    height: 100%;

                    &:focus {
                        outline: none;
                    }
                }
            }


            .nav-link, .show > .nav-link {
                text-transform: uppercase;
                padding: 20px 16px 23px;
                letter-spacing: .8px;
                @include font(13px, 21px, bold, $raleway, $megawhite);
                transition: background .3s;

                @include xl {
                    font-size: 10px;
                    padding: 20px 7px 23px;
                }

                @include lg {
                    color: $black;
                    padding: 12px 17px 14px;
                    font-size: 13px;
                    border-top: 1px solid $gray;
                    min-width: 343px;
                    position: relative;
                }

                &:hover, &:focus {
                    border-top: 3px solid $ultra-blue;
                    padding: 17px 16px 23px;
                    background-color: $dark-blue2;
                    color: $megawhite;

                    @include xl {
                        padding: 17px 7px 23px;
                    }

                    @include lg {
                        border-top: 1px solid $gray;
                        padding: 12px 17px 12px;
                        background-color: $megawhite;
                        color: $black;
                    }
                }

                &.btn--border--user-icon {
                    padding-left: 45px;

                    &::before {
                        top: 14px;
                        left: 17px;
                    }
                }

                &.btn--border--mail-icon {
                    padding-left: 52px;

                    &::before {
                        top: 14px;
                        left: 17px;
                    }
                }

                &.btn--border--fb-icon {
                    padding-left: 49px;

                    &::before {
                        top: 16px;
                        left: 17px;
                    }
                }
            }
        }

        .dropdown-toggle {
            &::after {
                border: none;
                background-image: url("img/arr.png");
                height: 6px;
                width: 8px;
                position: relative;
                top: 3px;

                @include lg {
                    width: 46px;
                    height: 46px;
                    border-left: 1px solid $gray;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .dropdown {
            position: static;
        }

        .beak {
            &::before {
                left: 292px;
            }
        }
    }

    &__dropdown.show {
        width: 100%;
        display: flex;
        top: 74px;
        padding: 21px 20px 14px;

        @include lg {
            flex-direction: column;
            padding: 0 0 0;
            border: none;
            border-radius: unset;

            &::before {
                display: none;
            }
        }

        .dropdown-item {
            display: inline-block;

            @include lg {
                padding: 0;
            }

            &:hover {
                background-color: $megawhite;

                span {
                    color: $blue2;
                }
            }

            img {
                display: block;
                margin-bottom: 16px;

                @include lg {
                    display: none;
                }
            }

            span {
                display: block;
                text-align: center;
                text-transform: uppercase;
                transition: color .3s;
                @include font(12px, 18px, bold, $raleway, $blue);

                @include lg {
                    text-align: left;
                    @include font(12px, 18px, bold, $raleway, $black);
                    border-top: 1px solid $gray;
                    background-color: $lightgray;
                    padding: 12px 17px 14px;
                }
            }
        }
    }

    .dropdown.show {
        > .dropdown-toggle {
            &::after {
                @include lg {
                    transform: rotate(180deg);
                    border-left: none;
                    border-right: 1px solid $gray;
                }
            }
        }
    }
}