.header {
    &__search {
        padding-top: 41px;
        margin-right: 8px;

        @include md {
            display: none;
        }

        .dropdown {
            position: static;
        }

        .dropdown-toggle {
            &:after {
                display: none;
            }
        }
    }
    &__form {
        max-width: 394px;
        top: 89px !important;
        right: 13px !important;
        left: auto !important;
        transform: none !important;
        width: calc(100% - 40px);

        .form-group {
            padding: 10px 22px 0 24px;
            &:before {
                right: 207px;
            }
        }

        label {
            color: $gray-blue;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 11px;
            font-family: $ptsans;
            background-color: $megawhite;
            padding: 0 6px;
            margin-left: 11px;
            z-index: 2;
        }

        input {
            z-index: 1;
            color: $blue;
            font-size: 16px;
            line-height: 24px;
            font-family: $ptsans;
            margin-top: -13px;
            margin-bottom: 18px;

            &:focus {
                box-shadow: none;
                border-color: $gray;
            }
        }

        .btn {
            img {
                margin-top: -3px;
                margin-right: 8px;
            }
        }
    }
}