.header {
    &__search {
        padding-top: 41px;
        margin-right: 8px;

        @include lg {
            padding-top: 16px;
        }

        .dropdown {
            position: static;
        }

        .dropdown-toggle {
            &:after {
                display: none;
            }
        }
    }

    &__form {
        width: calc(100vw - 40px);
        max-width: 395px;
        top: 89px !important;
        right: 13px !important;
        left: auto !important;
        transform: none !important;

        @include lg {
            top: 64px !important;
        }


        .form-group {
            padding: 10px 24px 16px;
            &:before {
                right: 209px;

                @include lg {
                    right: 86px;
                }

                @include md {
                    right: 62px;
                }
            }
        }

        .form-control {
            z-index: 1;
            margin-bottom: 16px;
        }

        .btn {
            width: 100%;
            img {
                margin-top: -3px;
                margin-right: 8px;
            }
        }
    }
}