.copyright {
    padding-bottom: 15px;

    &__inner {
        display: flex;
        padding-left: 40px;
        align-items: center;

        @include lg {
            padding-left: 0;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        p {
            margin: 14px 12px 0px 0px;
            @include font(16px, 20px, normal, $ptsans, $font-gray);

            @include lg {
                width: 100%;
                text-align: center;
            }
        }

        img {
            margin-right: 40px;
            margin-top: 13px;

            @include lg {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}