.cta {
    background-color: $lightgray;
    margin-top: 78px;
    padding-top: 69px;
    padding-bottom: 46px;

    @include md {
        padding-bottom: 69px;
    }

    &__text-col {
        padding-left: 55px;

        @include md {
            padding-left: 20px;
        }

        p {
            width: 50%;

            @include md {
                width: 100%;
                margin-bottom: 40px;
            }
        }

        h3 {
            margin-bottom: 20px;
            color: $blue;
        }
    }

    &__button-col {
        padding: 19px 0 0 0;

        @include lg {
            padding: 0 0 0 20px;
            display: flex;
            align-items: center;
        }
    }

    .btn--arrow {
        min-width: 253px;
        padding: 18px 30px;
        letter-spacing: .7px;

        img {
            margin-left: 11px;
            margin-top: -2px;
        }
    }
}