.social {
    padding-bottom: 14px;
    background-color: $blue;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-right: 36px;

        @include lg {
            flex-wrap: wrap;
            flex-direction: column;
        }
        @include md {
            padding-right: 0;
        }
    }

    &__col {
        display: flex;
        align-items: flex-start;

        @include lg {
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
    }

    .contact-info {
        padding-top: 9px;
        padding-left: 5px;

        &--number {
            margin-top: -4px;
            margin-left: 4px;
            padding-right: 0;
            margin-top: 3px;
        }

        &--text {
            padding: 7px 30px 5px 14px;
        }

        &--number-title {
            margin-left: 4px;
        }
    }

    .opening-hours {
        color: $megawhite;
        padding-top: 23px;
        margin-left: 3px;
    }

    .btn {
        margin-left: 41px;
        margin-top: 22px;

        @include md {
            margin-left: 0;
        }

        &--contact {
            min-width: 174px;
            color: $megawhite;

            @include md {
                width: 100%;
            }

            img {
                margin-right: 7px;
            }
        }
        &--social {
            margin-left: 7px;
        }
    }
}